<div style="{%- unless include.float -%}
                display: flex; 
                justify-content: center;
                align-items: center;
            {% endunless %}
            ">
    <img src="{{ include.src }}" alt="{{ include.alt | default: '' }}"
            style= "{%- if include.float -%}
                        float: {{ include.float }};
                    {% endif %}
                    
                    margin: 0px 15px;
                    height: {{ include.height | default: '100%'}}
                    ">
</div>